
<nav class="navbar navbar-dark bg-dark justify-content-between">
  <%= link_to "Mister Cocktail", root_path, class:"navbar-brand" %>
  <%=link_to new_cocktail_path, class: "btn btn-outline-success my-2 my-sm-0" do%>
    <div class="test"> <i class="fas fa-cocktail"></i></div>
  <%end%>
</nav>
