<nav class="navbar navbar-light bg-light justify-content-between p-4">
  <a class="navbar-brand">Mister Cocktail</a>
  <%=link_to "Add Cocktail", new_cocktail_path, class: "btn btn-outline-success my-2 my-sm-0" %>
</nav>
<ul>
<% @cocktails.each do |cocktail| %>
  <li> <%=cocktail%></li>
  
<%end%>
</ul>
