<%= render partial: "my_navbar" %>
  <div class="new_container">
    <ul style="list-style-type: none;">
      <div class="main">
        <% @cocktails.each do |cocktail| %>
            <li> 
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%=link_to cocktail.name, cocktail_path(cocktail) %></h5>              
                </div>
              </div>
            </li>
        <%end%>
      </div>
      </ul>
  </div>
