
<nav class="navbar navbar-light bg-light justify-content-between p-4">
  <a class="navbar-brand">Mister Cocktail</a>
  <%=link_to "Add Cocktail", new_cocktail_path, class: "btn btn-outline-success my-2 my-sm-0" %>
</nav>
<div class="d-flex justify-content-center mt-5"> 
  <ul style="list-style-type: none; text-align: center; margin: 20px 0px;">
  <% @cocktails.each do |cocktail| %>
    <li> 
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%=link_to cocktail.name, cocktail_path(cocktail) %></h5>
            </div>
          </div>
    </li>
  <%end%>
  </ul>
</div>
