
<h1>Add a Dose</h1>

<div class="container">
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%=f.input :description %>
    <%=f.input :ingredient %>
    <button type="submit" class="btn btn-dark">Submit</button>
  <% end %>
</div>
